<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <extension name="coverage" enabled="false" merge="false" sample_coverage="true" runner="idea" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.ametras.SpringBootGwtApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <module name="spring-boot-gwt" />
    <envs />
    <method />
  </configuration>
</component>